# ──────────────────────────────────────────────────────────────────────────────
# WORDPRESS SITE DETAILS
# ──────────────────────────────────────────────────────────────────────────────

SITE_URL=https://www.example.com

# ──────────────────────────────────────────────────────────────────────────────
# API Keys
# ──────────────────────────────────────────────────────────────────────────────

OPENCODE_API_KEY=
OPENROUTER_API_KEY=
